<connectionStrings>
  <add name="MovieAuthConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MovieAuthConnection;MultipleActiveResultSets=True;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="MovieProfileDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MovieProfileDB;MultipleActiveResultSets=True;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
